@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto
}

.has-orange-background {
    background-color: orangered;
    padding: 25px 200px 25px 25px;
}

.has-green-background {
    background-color: #96DD5F;
    padding: 25px 200px 25px 25px;
}

@font-face {
    font-family: 'RobotoSlab', serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500&display=swap');
}

img {
    max-width: 100%;
    height: auto
}

.has-grey-background {
    background-color: darkgrey;
    border: 1px solid grey;
    font-family:'RobotoSlab', serif;
    padding: 10px 10px 0px 10px;
}